@import "~vuetify/dist/vuetify.min.css";

.back{
	background-color: black;
}

.container-scroll {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.input-item {
    display: inline;
    background-color: pink;
    width: 100px; 
    margin-right: 10px; 
}

.inputs-table{
    width: 5em; 
    height: 3em;
}